/*
TODO:
- refactor backgrounds 
- fix image placing and size (main)
- delete temp mixins 
- get correct font sizes and font colors from design
- make sure card sizes are always the same (change row to column in media query)
- implement mid line on card row
- fix buttons (font-size, padding, font color)
*/
/* Colors */
/* Fonts */
/* Global */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  overflow-x: hidden;
  font-size: 18px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #bfbfbf;
  overflow-x: hidden;
}

a {
  color: inherit;
  font-weight: 700;
}

/* Componets */
.section--showcase {
  background-color: #dfdee3;
}

.section--boost {
  background-color: #35323e;
}

.section--footer {
  background-color: #232127;
}

.container {
  margin: auto;
  width: 77%;
  max-width: 1100px;
}

.btn {
  background-color: #2acfcf;
  color: #f2f2f2;
  padding: 0.6em  1.5em;
  border-radius: 2em;
  font-weight: 700;
}

.btn:hover {
  background-color: #91e8e8;
}

.header {
  margin: 50px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding-top: 0.4rem;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  margin-left: 2rem;
}

.header__link--shift-right {
  margin-left: auto;
}

.header__link:hover:not(.btn) {
  color: #3b3054;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 170px;
}

.main__left {
  margin: auto 0;
  width: 50%;
}

.main__right {
  width: 40%;
  margin-left: auto;
}

.main__title {
  color: #35323e;
  font-size: 3.6em;
  font-weight: 700;
  line-height: 1.2em;
}

.main__subtitle {
  padding-bottom: 2.5rem;
  width: 90%;
}

.shorten {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #35323e;
  border-radius: 10px;
  overflow: hidden;
}

.shorten__bg {
  padding: 50px 0;
  background: url(../assets/images/bg-shorten-desktop.svg);
}

.shorten__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.shorten__content__input {
  outline: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #9e9aa7;
  width: 75%;
  border-radius: 0.5rem;
  padding: 1rem 0 1rem 1.5rem;
  font-weight: 700;
  font-size: 1rem;
}

.shorten__content__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2em;
  border-radius: 0.5em;
}

.statistics {
  color: #232127;
  font-weight: 700;
  width: 50%;
  text-align: center;
  margin: 30px auto 100px;
  opacity: 1;
}

.statistics__title {
  color: #232127;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.statistics__subtitle {
  line-height: 2rem;
  color: #9e9aa7;
}

.card-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 120px;
}

.card-row::after {
  content: "";
  background-color: #2acfcf;
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8px;
  z-index: 1;
}

.card {
  z-index: 2;
  width: 31.5%;
  background: white;
  border-radius: 5px;
  padding: 0 20px 40px;
}

.card__icon {
  width: 80px;
  height: 80px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3b3054;
}

.card__icon img {
  display: block;
  margin: auto;
}

.card__title {
  margin-top: -10px;
  color: #35323e;
  font-size: 1.2em;
}

.card__text {
  margin-top: 20px;
  font-size: 0.9em;
}

.card:nth-child(2) {
  margin-top: 30px;
}

.card:nth-child(3) {
  margin-top: 60px;
}

.boost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../assets/images/bg-boost-desktop.svg) center/cover no-repeat;
  padding: 50px 0;
}

.boost__title {
  font-size: 2em;
  margin-bottom: 20px;
  color: white;
}

.boost .btn {
  font-size: 1.2em;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
  font-size: 0.8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  width: 20%;
}

.footer__logo__img {
  -webkit-filter: brightness(5);
          filter: brightness(5);
}

.footer__list__title {
  color: white;
  margin-bottom: 0.5em;
}

.footer__list__items {
  line-height: 1.8em;
}

.footer__list__items li:hover {
  color: #2acfcf;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 16%;
}

.footer__icons img {
  width: 25px;
  height: 25px;
}
/*# sourceMappingURL=style.css.map */