/*
TODO:
- refactor backgrounds 
- fix image placing and size (main)
- delete temp mixins 
- get correct font sizes and font colors from design
- make sure card sizes are always the same (change row to column in media query)
- implement mid line on card row
- fix buttons (font-size, padding, font color)
*/

/* Colors */
$primary-color: hsl(180, 66%, 49%);
$primary-links-color: hsl(257, 27%, 26%);
$secondary-color: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);

/* Fonts */
$body-font-size: 18px;
$font-weight-regular: 500;
$font-weight-bold: 700;

/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    overflow-x: hidden;
    font-size: $body-font-size;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: $font-weight-regular;
    font-size: $body-font-size;
    color: $gray;
    overflow-x: hidden;
}

a {
    color: inherit;
    font-weight: $font-weight-bold;
}

/* Componets */
.section {
    &--showcase {
        background-color: lighten($grayish-violet, 25%);
    }
    &--boost {
        background-color: $very-dark-blue;
    }
    &--footer {
        background-color: $very-dark-violet;
    }
}

.container {
    margin: auto;
    width: 77%;
    max-width: 1100px;
}

.btn {
    background-color: $primary-color;
    color: lighten($gray, 20%);
    padding: 0.6em  1.5em;
    border-radius: 2em;
    font-weight: $font-weight-bold;
    &:hover {
        background-color: lighten($primary-color, 25%);;
    }
}

.header {
    margin: 50px 0 80px;
    display: flex;
    align-items: center;
    &__logo {
        padding-top: 0.4rem;
        margin-right: 1rem;
        display: flex;
    }
    &__nav {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    &__link {
        margin-left: 2rem;
        &--shift-right {
            margin-left: auto;
        }
        &:hover:not(.btn) {
            color: $primary-links-color;
        }
    }
}

.main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 170px;
    &__left {
        margin: auto 0;
        width: 50%;
    }
    &__right {
        width: 40%;
        margin-left: auto;
    }
    &__title {
        color: $very-dark-blue;
        font-size: 3.6em;
        font-weight: 700;
        line-height: 1.2em;
    }
    &__subtitle {
        padding-bottom: 2.5rem;
        width: 90%;
    }
}

.shorten {
    transform: translateY(-50%);
    background-color: $very-dark-blue;
    border-radius: 10px;
    overflow: hidden; // needed for border radius (bg wil overflow otherwise)
    &__bg {
        padding: 50px 0;
        background: url(../assets/images/bg-shorten-desktop.svg);
    }
    &__content {
        display: flex;
        width: 90%;
        margin: 0 auto;
        &__input {
            outline: 0;
            flex-grow: 1;
            color: $grayish-violet;
            width: 75%;
            border-radius: 0.5rem;
            padding: 1rem 0 1rem 1.5rem;
            font-weight: $font-weight-bold;
            font-size: 1rem;
        }
        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2em;
            border-radius: 0.5em;
        }
    }
}

.statistics {
    color: $very-dark-violet;
    font-weight: $font-weight-bold;
    width: 50%;
    text-align: center;
    margin: 30px auto 100px;
    opacity: 1;
    &__title {
        color: $very-dark-violet;
        font-size: 2.5rem;
        margin-bottom: 0.5rem;

    }
    &__subtitle {
        line-height: 2rem;
        color: $grayish-violet;
    }
}

.card-row {
    position: relative; //needed for background blue bar
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 120px;
    &::after {
        content:"";
        background-color: $primary-color;
        position: absolute;
        top: 120px;
        bottom: 0;
        left: 0;
        right: 0;
        height: 8px;
        z-index: 1;
    }
}
 
.card {
    z-index: 2;
    width: 31.5%;
    background: white;
    border-radius: 5px;
    padding: 0 20px 40px;
    &__icon {
        width: 80px;
        height: 80px;
        transform: translateY(-50%);
        border-radius: 50%;
        display: flex;
        background-color: $primary-links-color;
        img {
            display: block;
            margin: auto;
        }
    }
    &__title {
        margin-top: -10px;
        color: $very-dark-blue;
        font-size: 1.2em;
    }
    &__text {
        margin-top: 20px;
        font-size: 0.9em;
    }

    &:nth-child(2) {
        margin-top: 30px;
    }

    &:nth-child(3) {
        margin-top: 60px;
    }
}

.boost {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../assets/images/bg-boost-desktop.svg) center/cover no-repeat;
    padding: 50px 0;
    &__title {
        font-size: 2em;
        margin-bottom: 20px;
        color: white;
    }
    .btn {
        font-size: 1.2em;
    }
}

.footer {
    display: flex;
    padding: 80px 0;
    font-size: 0.8rem;
    justify-content: space-between;
    &__logo {
        width: 20%;
        &__img {
            filter: brightness(5);
        }
    }
    &__list {
        &__title {
            color: white;
            margin-bottom: 0.5em;
        }
        &__items {
            line-height: 1.8em;
            & li:hover {
                color: $primary-color;
            }
        }
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        width: 16%;
        img {
            width: 25px;
            height: 25px;
        }
    }
}