/*
TODO:
- refactor backgrounds 
- fix image placing and size (main)
- delete temp mixins 
- get correct font sizes and font colors from design
- make sure card sizes are always the same (change row to column in media query)
- implement mid line on card row
- fix buttons (font-size, padding, font color)
*/

/* Colors */
$primary-color: hsl(180, 66%, 49%);
$primary-links-color: hsl(257, 27%, 26%);
$secondary-color: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);

/* Fonts */
$body-font-size: 18px;
$font-weight-regular: 500;
$font-weight-bold: 700;

/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

// TEMP TEMP TEMP TEMP //
@mixin kasborder($color: red, $enable: false) {
    @if($enable) {
        border: $color 2px solid;
    }
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: $body-font-size;
    color: $gray;
    overflow-x: hidden;
}

a {
    color: inherit;
    font-weight: 700;
}

/* Componets */
.section {
    &--showcase {
        background-color: lighten($grayish-violet, 25%);
    }
    &--boost {
        background-color: $very-dark-blue;
    }
    &--footer {
        background-color: $very-dark-violet;
    }
}

.container {
    margin: auto;
    width: 77%;
    max-width: 1100px;
}

.btn {
    background-color: $primary-color;
    color: lighten($gray, 20%);
    padding: 8px  24px;
    border-radius: 20px;
}

.header {
    //padding: 50px 0 80px;
    margin: 50px 0 80px;
    display: flex;
    align-items: center;
    @include kasborder(green);
    &__logo {
        padding-top: 4px;
        margin-right: 20px;
        display: flex;
        @include kasborder(red);
        img {
            @include kasborder(blue);
        }
    }
    &__nav {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    &__link {
        font-size: 0.9em;
        margin-left: 20px;
        &--shift-right {
            margin-left: auto;
        }
    }
}

.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 170px;
    &__left {
        margin: auto 0;
        width: 50%;
    }
    &__right {
        width: 45%;
    }
    &__title {
        color: $very-dark-blue;
        font-size: 3.6em;
        font-weight: 700;
        line-height: 1.2em;
    }
    &__subtitle {
        padding-bottom: 30px;
    }
}

.shorten {
    transform: translateY(-50%);
    background-color: $very-dark-blue; 
    border-radius: 10px;
    overflow: hidden; // needed for border radius (bg wil overflow otherwise)
    &__bg {
        padding: 50px 0;
        background: url(../assets/images/bg-shorten-desktop.svg);
    }
    &__content {
        display: flex;
        width: 90%;
        margin: 0 auto;
        &__input {
            width: 75%;
            border-radius: 10px;
            padding: 15px 0 15px 20px;
            font-size: 1.2em;

        }
        &__btn {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
            border-radius: 5px;
            font-size: 1.3em;
        }
    }
}

.statistics {
    color: $very-dark-violet;
    font-weight: $font-weight-bold;
    width: 50%;
    text-align: center;
    margin: 30px auto 80px;
    opacity: 1;
    &__title {
        font-size: 2.5em;

    }
}

.card-row {
    display: flex;  
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 120px;
    @include kasborder();
}
 
.card {
    width: 31.5%;
    @include kasborder(blue);
    background: white;
    border-radius: 5px;
    padding: 0 20px 40px;
    &__icon {
        @include kasborder(green);
        width: 80px;
        height: 80px;
        transform: translateY(-50%);
        border-radius: 50%;
        display: flex;
        background-color: $primary-links-color;
        img {
            display: block;
            margin: auto;
        }
    }
    &__title {
        @include kasborder(magenta);
        margin-top: -10px;
        color: $very-dark-blue;
        font-size: 1.2em;
    }
    &__text {
        @include kasborder(purple);
        margin-top: 20px;
        font-size: 0.9em;
    }

    &:nth-child(2) {
        margin-top: 30px;
    }

    &:nth-child(3) {
        margin-top: 60px;
    }
}

.boost {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../assets/images/bg-boost-desktop.svg) center/cover no-repeat;
    padding: 80px 0;
    &__title {
        font-size: 2em;
        margin-bottom: 16px;
        color: white;
    }
    .btn {
        font-size: 1.2em;
    }
}

.footer {
    display: flex;
    padding: 80px 0;
    justify-content: space-between;
    @include kasborder(red, true);
    &__logo {
        width: 20%;
        &__img {
            @include kasborder(blue, true);
        }
    }
    &__icons {
        @include kasborder(blue, true);
        display: flex;
        justify-content: space-between;
        width: 16%;
        img {
            width: 25px;
            height: 25px;
        }
    }
}